= form_for(:session, :url => sessions_path) do |f|
  .input-prepend
    %span{ :class => 'add-on'} @
    = f.text_field :email, :class => ['span9','username'], :size => 24, :placeholder => 'Email'
  .input-prepend
    %span{ :class => 'add-on'} ?
    = f.password_field :password, :class => ['span7','password'], :size => 16, :placeholder => 'Password'  
  %button{ :class => ['btn'], :type => 'submit' } Log me in!